<div id="<%= dom_id task %>">
  <p>
    <strong>Project:</strong>
    <%= task.project_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= task.assigned_user_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= task.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= task.description %>
  </p>

  <p>
    <strong>Story points:</strong>
    <%= task.story_points %>
  </p>

</div>
