<article class="task" id="<%= dom_id task %>">

  <h2 class="title"><%= task.title %></h2>

  <%= link_to "Edit", edit_project_task_path(task.project, task) %>

  <p class="user-email"><%= task.assigned_user&.email || "unknown" %></p>

  <p class="story-points"><%= task.story_points %></p>

</article>
