<%= turbo_frame_tag task do %>
  <article class="task" id="<%= dom_id task %>">

    <h3 class="task__title"><%= task.title %></h3>

    <p class="task__story-points"><%= task.story_points %></p>

    <p class="task__user-email"><%= task.assigned_user&.email || "unknown" %></p>

    <%= link_to "✏️", edit_project_task_path(task.project, task), "data-turbo-frame": "_self", class: 'plain-link' %>

  </article>
<% end %>
