<p style="color: green"><%= notice %></p>

<h1><%= @project.title %></h1>

<%= turbo_frame_tag 'board' do %>
  <%= render(BoardComponent.new(tasks: @tasks)) %>
<% end %>

<%= link_to "New task", new_project_task_path(@project) %>

<%= link_to "Edit project", edit_project_path(@project) %>

<%= link_to "View all projects", projects_path %>
