<p style="color: green"><%= notice %></p>

<h1><%= @project.title %></h1>

<div id="tasks">
  <% @tasks.each do |task| %>
    <%= render task %>
    <p>
      <%= link_to "Show this task", project_task_path(@project, task) %>
    </p>
  <% end %>
</div>

<%= link_to "New task", new_project_task_path(@project) %>

<%= link_to "Edit project", edit_project_path(@project) %>

<%= link_to "View all projects", projects_path %>
