<p style="color: green"><%= notice %></p>

<h1><%= @project.title %></h1>

<div id="tasks" class="board">
  <div class="board__column">
    <h1>Unstarted</h1>
    <%= render @tasks %>
  </div>

  <div class="board__column">
    <h1>In progress</h1>
    <%= render @tasks %>
  </div>

  <div class="board__column">
    <h1>Done</h1>
    <%= render @tasks %>
  </div>
</div>

<%= link_to "New task", new_project_task_path(@project) %>

<%= link_to "Edit project", edit_project_path(@project) %>

<%= link_to "View all projects", projects_path %>
